@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout : none ;
  -webkit-user-select : none ;
  -webkit-user-drag: none;
  -khtml-user-select : none ;
  -moz-user-select : none ;
  -ms-user-select : none ;
  user-select : none ;
}

body{
  /* 背景 */
  color: white;
  background-color: #131211;
}

a{
  color: white;
}

.battle_chat_group{
  text-align:center;
  background-color: #393633;
  border:1px gray solid;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
}

/* 普羅圖片 */
#battle_chat_waiting_icon{
  text-align:center;
  opacity: 1;
}

#battle_chat_waiting_icon{
  filter: invert(1);
}

/* 普羅底下的文字 */
#battle_chat_waiting_text{
  display: block;
}

/* 聊天紀錄文字 */
#battle_chat_text{
  display: block;
  position: relative;
  text-align: left !important;
  white-space: pre-wrap;
  margin-left: 10px;
  opacity: 0;
  /* opacity: 1; */
}

#battle_chat_btn{
  text-decoration:none;
}

/* 複製按鈕 */
#copy_all{
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 38px !important;
  opacity: 0;
  /* opacity: 1; */
}
